<!doctype html>
<html lang="en">

	<head>
		<title>Blog</title>
    <link rel = "stylesheet" href = "../stylesheets/main_content.css">
	</head>

	<body>
    
    <% include partials/navbar %>

    <div class = "container main_content">
      <div class = "card">
        <div class = "card-header">
          My Third Blog Post
        </div>
        <div class = "card-body">
          <p class = "card-text">
            This is about my first blog where I made a nodejs site.
          </p>
        </div>

      </div>
      
      <div class = "card">
        <div class = "card-header">
          My Second Blog Post
        </div>
        <div class = "card-body">
          <p class = "card-text">
            This is about my first blog where I made a nodejs site.
          </p>
        </div>

      </div>
      
      <div class = "card">
        <div class = "card-header">
          My First Blog Post
        </div>
        <div class = "card-body">
          <p class = "card-text">
            This is about my first blog where I made a nodejs site.
          </p>
        </div>

      </div>
    </div>
    
    <% include partials/footer %>

	</body>

  
</html>